.menuicon:not(.animCheck) {
    width: @baseIconSize;
    height: @baseIconSize;
    opacity: @baseIconOpacity; 
}

.submenuicon, .menuhotlink, .custommenubutton { 
    width: @baseIconSize;
    height: @baseIconSize; 
    opacity: @baseIconOpacity; 
}

.mainmenuitem[data-checked] .menutext {
    color: @invertedColor;
    fill: @invertedColor;
}

.menuitem {
    // Taken from https://material.io/guidelines/components/menus.html#menus-specs
    // Cascading menu spec  (seems to be too wide for our purposes)      
    //height: 32px; 
    //padding-left: 24px;
    //padding-right: 24px;
    min-height: @baseIconSize + @menuItemPadding;
}

.menuitem[data-checked] {
    background-color: @materialColor; /*@accentColor;*/
}

.mainmenu .menuitem {
    color: @invertedColor;
    padding-left: @units1_0;
    padding-right: @units1_0;
}

.menuitem[data-checked] .menutext {
    color: @invertedColor;
    fill: @invertedColor;
}

.mainmenuitem:hover {
    cursor: pointer;    
    background-color: @hoverBgColor;
}

.mainmenuitem[data-focused], .mainmenuitem[data-selected] {
    background-color: @hoverBgColor;
}