.controlSelected {
    color: @highlightColor;
    fill: @highlightColor;
}

.inlineEdit {
    background-color: @baseColor;
}

.scoreBar {
    background-color: @selectedHoverColor;
}

.border {
    border-radius: 5px;
}

fieldset {
    .border;
}